.forgotten-password-form {
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 25px 0 25px;
    color: var(--primary);
    position: relative;
    overflow: hidden;
}

.forgotten-password-form p {
    max-width: 350px;
    font-size: 14px;
    text-align: center;
}

.forgotten-password-form h2 {
    color: var(--fourth);
    margin-bottom: 10px;
}

.forgotten-password-form form {
    position: relative;
    max-width: 350px;
    width: 100%;
    background-color: var(--primary);
    padding: 20px;
    margin: 30px auto 0 auto;
    box-shadow:  3px 3px 10px rgba(220, 220, 220, 0.524), -3px -3px 10px rgba(128, 128, 128, 0.524);
}

.forgotten-password-form form label {
    color: var(--secondary);
    font-weight: 900;
}

.forgotten-password-form button {
    background-color: var(--fourth);
    color: var(--secondary);
    column-gap: 10px;
}

.forgotten-password-form button:disabled {
    background-color: grey;
    transform: none;
    column-gap: 10px;
}

.forgotten-password-form form input {
    display: block;
    width: 100%;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin-top: 10px;
    font-weight: 900;
}

.forgotten-password-form form input::placeholder {
    font-weight: 900;
}

.forgotten-password-form form .element {
    margin-top: 30px;
}

.forgotten-password-form form input:focus,
.forgotten-password-form form textarea:focus {
    border: 2px #0884ff solid;
}